.login-btn {
  margin: 10px;
}

.header-color {
  background-color: rgb(231, 173, 64);
  color: white;
}
input:hover {
  border-color: gold;
}

.input-color {
  border-color: rgb(44, 129, 179);
}

body {
  background-image: url("madrid.jpg");
}

.forgotpass {
  color: black;
}

// .container {
// margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }

.mt-6,
.my-6 {
  margin-top: 3rem !important;
  width: 127vh;
  height: 92vh;
  left: -59%;
  top: -1%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#reservationForm {
  position: absolute;
  top: 38%;
  left: 43%;
}
