/*Edit Trip Page Styles*/

.back-edit {
    background-image: url(road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 615px) {
    .edit-trip-container{
      margin-top: 5%;
    }
}