/*Trip Create Page Styles*/
.trip-create-container {
  height: 100%;
}

.back1 { /*changes*/
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 615px) {
    .trip-create-container{
      margin-top: 5%;
    }
  }
