/*Trip Create Page Styles*/

.back1 { /*changes*/
    background-image: url("rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.trip-create-container {
    margin-top: 2%;
}

