/*Login Page Styles*/
.login-btn {
margin: 10px;
}

.header-color {
background-color: rgb(231, 173, 64);
color: white;

}
input:hover {
border-color: gold;
}

.input-color {
border-color: rgb(44, 129, 179);
}

.back-login {
background-image: url("madrid.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.height {
    height: 664.67px;
}

.forgotpass {
color: black;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}