@import "~antd/dist/antd.css";

.userTripPageTitle {
  color: black;
  padding-top: 1em;
}

.userTripPageButton {
  width: 89px;
  height: 26px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: black;
  background: #f7f5f5;
  border: 2px outset rgb(199, 195, 195);
  box-shadow: 2px 2px 0 rgb(168, 167, 167), -2px -2px 0 rgb(226, 223, 223),
    -2px 2px 0 rgb(243, 243, 243), 2px -2px 0 rgb(156, 155, 155);
  border-radius: 10px 10px 10px 10px;
  transition: 500ms ease-in-out;
}

.userTripPageButton:focus {
  outline: none;
}

.ant-table-wrapper {
  clear: both;
  top: 12%;
  position: absolute;
  max-width: 300vh;
  right: 2%;
}
