/*User trip page styles*/

@import "~antd/dist/antd.css";

.userTripPageTitle {
  color: black;
  padding-top: 1em;
}

.userTripPageButton:focus {
  outline: none;
}

.user-trip-container {
  top: 20%;
  position: absolute;
  right: 3%;
  left: 3%;
}

.back-trip {
  background-image: url(lake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

