/*User trip page styles*/

@import "~antd/dist/antd.css";

.userTripPageTitle {
  color: black;
  padding-top: 1em;
}

.userTripPageButton:focus {
  outline: none;
}

.user-trip-container {
  top: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.ant-space {
  display: flex;
  flex-wrap: wrap;
}

.back-trip {
  background-image: url(lake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}


