/*Summary page styles*/

@import "~antd/dist/antd.css";

.summary-header {
  height: 35%;
  padding: 2%;
  width: 95%;
  margin: auto;
  border-radius: 2px;
  position: relative;
  top: -600px;
  left: 1px;
}
.summary-table {
  top: 60%;
  // position: absolute;
  // right: 3%;
  // left: 3%;
}

// .mt-6,
// .my-6 {
//   margin-top: 3rem !important;
//   width: 110vh;
//   height: 73vh;
//   left: -56%;
//   top: -10%;
// }


