@import "~antd/dist/antd.css";

.userTripPageTitle {
  color: black;
  padding-top: 1em;
}

.userTripPageButton:focus {
  outline: none;
}

.summaryTable {
  top: 80%;
  position: absolute;
  right: 3%;
  left: 3%;
  margin-left: 230px;
  max-width: 127vh;
  margin-top: -100px;
}

.summaryCard {
  margin-top: 3rem !important;
  width: 127vh;
  left: -56%;
  top: -10%;
  margin-bottom: 250px;
  max-height: 50vh;
}

.summaryBody {
  text-align: center;
}

.customWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


