@import "~antd/dist/antd.css";

.userTripPageTitle {
  color: black;
  padding-top: 1em;
}

.userTripPageButton:focus {
  outline: none;
}

.ant-table-wrapper {
  top: 80%;
  position: absolute;
  right: 3%;
  left: 3%;
}

.mt-6,
.my-6 {
  margin-top: 3rem !important;
  width: 110vh;
  height: 73vh;
  left: -56%;
  top: -10%;
}

//  .ant-table-wrapper {
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }

.customWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
